.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to left top, rgba(166, 30, 190, 0.8), rgba(108, 195, 206, 0.8));
  color: #555;
}


